* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1200px;
    background: rgba(255, 143, 14, 0.075);
    margin: 20px 100px;
}

/* header and navigation styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-weight: 700px;
    font-size: 45px;
    width: 302px;
    height: 53px;
    width: 302px;
    height: 53px;
    color: #131313;
}

.nav-title span {
    font-weight: bolder;
    font-size: 55px;
    color: #FF900E;
    margin-left: -14px;
}

nav ul {
    display: flex;
    color: #424242;
    justify-content: end;
    align-items: center;
    font-size: 18px;
    width: 477px;
    height: 26px;

}

.nav-icon {
    display: none;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

/* brand section styles */
.brand-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px 0;
}

.brand-container div {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.brand-container div p {
    text-align: center;
    margin-top: 20px;
}

.brand-title {
    text-align: center;
    font-weight: 700;
    font-size: 64px;
    color: #131313;
}

.brand-btn {
    width: 180px;
    height: 64px;
    margin-top: 32px;
    background-color: orange;
    color: #FFFFFF;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    border: 2px solid orange;
    border-radius: 8px;
}

.brand-mamber {
    display: flex;
    justify-content: center;
}

.brand-mamber img {
    width: 100%;
}

/* Brand New Grups Tutorial styles */
.brand-tutorial {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}

.brand-tutorial div {
    width: 50%;
}

.brand-tutorial-img div {
    display: flex;
}

.brand-tutorial img {
    padding: 14px;
    height: 12em;
}

.tutorial-list {
    margin-left: 73px;
}

.tutorial-title {
    font-weight: 500;
    margin-bottom: 0;
    font-size: 45px;
    color: #131313;
}

#text {
    color: #727272;
}

#text-coler {
    color: #FF900E;
}

.tutorial-btn {
    width: 180px;
    height: 64px;
    margin-top: 53px;
    background-color: #FF900E;
    border: 2px solid orange;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
}

/* Features you will love & enjoy section */

.brand-features {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 100px 0;
}

.features {
    margin-top: 50px;
}

.features-list {
    margin-bottom: 10px;
}

.features-title {
    font-weight: 700;
    font-size: 45px;
    border-left: 4px solid orange;
    padding-left: 20px;
    color: #131313;
    width: 468px;
    height: 106px;
}

.features-dec {
    margin-top: 20px;
}

.brand-features div img {
    width: 100%;
}



.experience {
    margin-top: -109px;
}

.experience-btn {
    background-color: #FF900E;
    color: #FFFFFF;
    border: 0;
    border-radius: 4px;
    height: 100px;
    width: 200px;
}

/* Some facts section */
.facts-intro {
    margin-bottom: 80px;
    width: 50%;
}

.facts-intro h2 {
    margin-bottom: 20px;
}

.facts {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
}

.facts img {
    height: 40px;
    transition: height 2s, transform 1s;
}

.facts img:hover {
    height: 100px;
    transform: rotate(360deg);
}

.facts div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 150px;
    border: 1px solid #FF900E;
}

/* sponspors section style */
.sponspors {
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sponspors h1 {
    font-size: 44px;
    margin-bottom: 20px;
}

.sponspors-logo {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.sponspors-logo img {
    filter: grayscale(100%);
}

/* Footer Section style */
footer p {
    text-align: center;
    margin-bottom: 100px;
}

@media screen and (max-width: 625px) {

    body {
        margin: 0 20px;
        max-width: 600px;
    }

    nav {
        display: flex;
        justify-content: space-between;
    }

    nav ul {
        display: none;
    }

    .nav-title {
        margin-left: 30px;
    }

    .nav-icon {
        display: block;
        width: 100px;
    }

    .nav-icon img {
        height: 30px;
        width: 30px;
    }

    .brand-tutorial {
        flex-direction: column;
    }

    .brand-tutorial div {
        width: 100%;
    }

    .brand-features {
        display: grid;
        grid-template-columns: 1fr;
        margin: 100px 0;
    }

    .facts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* margin: 0 50px; */
    }

    .facts div {
        margin-bottom: 20px;
    }

    .sponspors-logo {
        flex-direction: column;
        align-items: center;
    }

    .sponspors-logo img {
        margin-bottom: 30px;
    }
}